<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css"> 
    <title>Iniciar Sesion con expressJS</title>
</head>
<body>
 <main>

 <article>
  <form method="POST">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <input type="password" name="password" required>

    <input type="submit">
  </form>
 </article>















</main>





</body>

</html>