<!DOCTYPE html>
<html lang="es-ES">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Normalito 🗑</title>
</head>
<style>
body {
    display: grid;
    place-items: center;
    gap: 50px;
}
h2 {
  text-align: center;
}
video {
  width: 80vw;
  height: 400px;
  margin: 0 auto;
}
</style>
<body>
  <h2>Video Normalito</h2>
  <video class="video" src="./dorime.mp4" controls></video>

  <a href="/video-binary">Reenviar</a>
</body>
<script>
const video = document.querySelector('.video');

</script>
</html>